<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="LocalConnectToDB" connectionString="Data Source=192.168.0.110,1433;Initial Catalog=BOOKSTORAGE;Persist Security Info=True;User ID=sa;password=Passw0rd%" />
    <add name="RemoteConnectToDB" connectionString="Data Source=SQL5052.site4now.net;Initial Catalog=DB_A57130_devmiracle;User Id=DB_A57130_devmiracle_admin;Password=Passw0rd;" />
  </connectionStrings>
</configuration>